.friendsList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
    list-style-type: none;
}

.friendsItem {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}